/* h1 {
	font-size: 650%;
	height: 9em;
  align-items: center;
  justify-content: center;
	margin: 0;
} */


.center {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

html, body {
  overflow: hidden;
}

#bottom {
     position:absolute;
     bottom:20px;
     text-align:center;
     z-index:9999;
		 background-color: #ff4f4f;
		 border-left: 6px solid red;
		 width: 38%;
		 opacity: 0.2;
}

#bottom:hover {
	opacity: 0.8;
}

.subheader {
  font-family: Helvetica;
  text-align: center;
  opacity: 0.7;
}

.logo {
  opacity: 0.7;
}

p {
	font-family: sans-serif;
}